
.directions{
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
}
.ingdForm{
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
}
.options{
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
}
.textArea{
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
}
.nav{
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
}
.heading{
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
}
.box{
    width: 50%;
}
.btns{
    display: inline-block;
}
/* .ingredients{
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
    display: inline-block;
}
.info{
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
    display: inline-block;
}
.final{
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
    display: inline-block;
} */